.more-info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: $bluenavigation;
}
div[class*="more-info-col"] {
  width: 25%;
  color: $whiteBackground;
  font-family: 'Open Sans', sans-serif;
  h3 {
    font-size: 25px;
  }
}
.more-info-col3 {
  button {
    @include submitOrangeBtn;
    height: 100%;
    width: 100px;
    padding: 0;
    margin:0;
  }
  form {
    height: 30px;
    display: flex;
    input {
      box-sizing: border-box;
      height: 100%;
      border: none;
      &:focus {
        outline: 0;
      }
    }
  }
}
.more-info-col2 {
  ul {
    box-sizing: border-box;
    padding-left: 20px;
  }
  li {
    padding: 3px 0 0 0;
  }
}
.more-info-col3-social {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  i {
    display: flex;
    font-size: 35px;
    padding: 20px 20px 0 0;
    box-sizing: border-box;

    color: $whiteBackground;
  }
}
.copyrights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blueTextHeaderColumns;
  width: 100%;
  height: 50px;
  p {
    display: flex;
    color: $whiteBackground;
    b {
      color: $orange;
    }
  }
}
//.columns {
//  display: flex;
//  h3 {
//    font-size: 16px;
//  }
//  .col1 {
//    height: 100px;
//  }
//
//  .col2 {
//    height: 100px;
//  }
//
//  .col3 {
//    height: 100px
//  }
//
//  .copyrights {
//    font: white;
//    font-size: 14px;
//    background-color: #464646;
//    height: 43px;
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    width: 1200px;
//    justify-content: center;
//  }
//
//  .social {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//  }
//
