.app-welcome-dashboard {
    margin: 50px auto;
    //height: calc(100% - 130px);
    width: 90%;
}
.app-welcome-dashboard_whitebg {
    background: $whiteBackground;
    border: 1px dashed $tableTextColorIcons;
}
.app-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $blueTextHeaderColumns;
    input[type="text"]
    {
        width: 300px;
        height: 30px;
        display: flex;
        &::placeholder {
            padding-left: 15px;
        }
    }
    label {
        display: none;
    }
    .name-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        .send-name-button {
            border:none;
            background: $orange;
            width: 135px;
            height: 40px;
            color: $whiteBackground;
            margin-top: 15px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}
.app-welcome-text {
    font-size: 24px;
    text-align: center;
    margin: 60px auto 30px auto;
    font-weight: 700;
    width: 450px;
    u {
        font-size: 36px;
        text-decoration: none;
        line-height: 80px;
    }
}
.app-welcome-text__below-button {
    font-size: 20px;
    width: 450px;
    font-weight: 700;
    text-align: center;
}
