$bluenavigation: #5B605F; //panel boczny, nawigacja
$blueTextHeaderColumns: #4a4a49; //nagłówek, kolor tekstu w kolumnach
$orange: #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$whiteBackground :#FFFFFA; //kolor tła ekranów
$blueInfoMessages: #3498DB; //kolor wiadomości typu info,
$orangeWarningMessages: #FFB03B; //kolor wiadomości typu warning
$greenSuccessColor: #468966; //kolor wiadomości typu success
$trashIconColor: #BD4932; //kolor ikony kosza
$tableTextColorIcons: #A1A194 //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
